@import 'reset.css';
@import 'variables.css';
@import 'components/status-bar.css';
@import 'screens/login.css';
@import 'components/nav-bar.css';
@import 'screens/friends.css';
@import 'components/title&icon.css';

body {
  width: 100%;
  height: 100vh;
  background-color: white;
}

* {
  box-sizing: border-box;
}
