.login_screen {
  margin: 10vh 5vw;
  height: 20vh;
  text-align: center;
}

.login_title {
  font-size: 3em;
  color: var(--green);
  margin-bottom: 5vh;
  font-weight: 700;
}

.login_text {
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: 1px;
}

strong {
  color: var(--green);
  font-weight: 700;
}

form {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 0 10vw;
}

.login_info {
  padding: 1em 0;
  border: none;
  border-bottom: 1px solid var(--green);
  font-size: 1.3em;
  color: var(--green);
}

.login_info::placeholder {
  color: lightgray;
  font-size: 1em;
}

.login_info:focus,
.login_btn:focus {
  outline: none;
}

.login_btn {
  border: none;
  padding: 1em;
  background-color: var(--green);
  color: #fff;
  font-size: 1.2em;
  border-radius: 0.5em;
  cursor: pointer;
}

.login_btn:hover {
  transition: 0.3s ease-in-out;
  border: 2px solid #27ae60;
  background-color: #fff;
  color: #27ae60;
}

form > a {
  color: #27ae60;
}

@media only screen and (max-width: 450px) {
  body {
    font-size: 10px;
  }
}
