footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
}

.nav-bar {
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-bar > ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_icon {
  font-size: 2em;
}

.nav_icon > a > i {
  color: var(--green);
}

.nav_icon:nth-child(2) {
  position: relative;
}

.nav_notification {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  font-size: 0.5em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  position: absolute;
  left: 1em;
  bottom: 1em;
}

.nav_icon:nth-child(4) {
  position: relative;
}

.nav_dot {
  width: 0.2em;
  height: 0.2em;
  border-radius: 50%;
  font-size: 0.5em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  position: absolute;
  left: 2.5em;
  bottom: 2em;
}
