.main_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5vh 0;
}

.main_title > h2 {
  font-size: 3em;
  font-weight: 700;
  color: var(--green);
}

.main_icon {
  margin-left: 2vw;
  font-size: 2em;
  opacity: 0.2;
}
